
.navBarNavMenu {
    float:right;
    left: auto;
    right: 0;
}

.navMenu {
    height: 100%;
    list-style-type: none;

    margin: 0px;
    padding-left: 0px;

    /*
    background-color: #1b3247;
    color: #888888;
    font-family: "Montserrat Regular", montserrat-regular;
    font-size: 12px;
    */
}

.sideNav {
    width: 170px;
    padding: 0;
    position: fixed;
    left: 0;
    z-index: 1;
    height: 100%;
    text-transform: uppercase;
}
